.hero {
  height: 60vh;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--br);
}

.hero-text {
  font-family: var(--ff-secondary);
  font-size: 2rem;
  line-height: 3.25rem;
}

.hero-cta {
  margin-top: 2rem;
}

@media screen and (min-width: 800px) {
  .hero-text {
    font-size: 5rem;
    line-height: 7.25rem;
  }
}
