:root {
  /* TYPOGRAPHY */
  --ff-secondary: 'NaftaLight';

  /* COLORS */
  /* BASE */
  --white: #ffffff;
  --black: #131313;
  --gray: #232323;
  --transparent-black: rgba(0, 0, 0, 0.8);

  /* PRIMARY */
  --clr-primary-500: #e95050;
  --clr-primary-400: #ff4e4e;
  --clr-primary-300: #f27070;
  --clr-primary-200: #f99898;
  --clr-primary-100: #fdc5c5;
}

.App {
  height: 100vh;
  background-color: var(--gray);
  color: var(--white);
  display: flex;
}

.list {
  list-style: none;
}

.content {
  height: inherit;
  overflow-y: scroll;
  flex-grow: 1;
  padding: 1rem 1rem 6rem 1rem;
}
